/* Format all Inline elements to a width */
/* start with container */
/* Use a standard gutter of 140 gutter on each side */
body {
	font-size: 110%;
}

.home {
	/* Services */
	main > ul {

		text-align: center;

		> li {
			vertical-align: top;
			text-align: left;
			display: inline-block;
			width: 40%;

			h3 {
				font-size: 1.3em;
				border-bottom: .3em solid $grey;
			}

			ul {
				li {}
			}

			&:nth-child(odd) {
				padding-right: 3em;
			}
		}
	}
}

blockquote {}

figure {}

.float-left {}

.float-right {}

.pull-left {}

.pull-right {}

.pull-both {}

code {}

pre {
	code {}
}
