/* Format all Inline elements to a width */
/* start with container */
/* Use a standard gutter of 140 gutter on each side */
header {
	text-align: left;

	div {
		p {}
	}
}

.home {
	/* Services */
	main > ul {
		> li {
			h3 {}

			ul {
				li {}
			}

			&:nth-child(odd) {
				}
		}
	}
}

.post {
	header {
		text-align: left;
	}

	blockquote {
		border-left: 10px solid $grey;
		padding-left: 16px;
		margin-left: -28px;
	}

	figure {
		text-align: center;
	}

	.float-left {
		float: left;
		margin: .5em 1.5em 0 0;
		max-width: 19em;
	}

	.float-right {
		float: right;
		margin: .5em 0 0 1.5em;
		max-width: 19em;
	}

	.pull-left {
		float: left;
		margin: .5em 1.5em 0 -140px;
		max-width: 26em;
	}

	.pull-right {
		float: right;
		margin: .5em -140px 0 1.5em;
		max-width: 26em;
	}

	.pull-both,
	.pull-both {
		margin: .5em -140px 1.5em;
	}

	code {
		background-color: lighten($grey, 15%);
		padding: 0 .3em;
	}

	pre {
		margin: 2em -140px;
		overflow: scroll;
		background-color: $black;

		code {
			font-size: 100%;
			color: $white;
			background-color: transparent;
		}
	}
}
