body {
	font-size: 120%;
}

article,
footer,
main {
	max-width: 42.5em;
}

.home {
	/* Services */
	main > ul {
		> li {
			h3 {}

			ul {
				li {}
			}

			&:nth-child(odd) {
				}
		}
	}
}

.post {
	header {
		div {
			max-width: 42.5em;
		}
	}
}
